# PostgreSQL database
DATABASE_URL="postgresql://postgres:postgres@127.0.0.1:54922/postgres"

# Auth.js configuration
AUTH_SECRET="your-auth-secret-here"
AUTH_URL="http://localhost:3600"

# Coolify
NIXPACKS_NODE_VERSION=22.14

# Signup enabled
ENABLE_SIGNUP=true